<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let facility of facilities">
      <ion-icon *ngIf="facility.latest_occupancy_record.spaces_public_percentages.spaces_public_vacant_percentage >= 75" style="color:green" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-icon *ngIf="facility.latest_occupancy_record.spaces_public_percentages.spaces_public_vacant_percentage > 25 && facility.latest_occupancy_record.spaces_public_percentages.spaces_public_vacant_percentage < 75"  style="color:yellow" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-icon *ngIf="facility.latest_occupancy_record.spaces_public_percentages.spaces_public_vacant_percentage <= 25" style="color:red" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-label>{{ facility.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
