<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa parkovišť</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal
    #modal
    [isOpen]="isModalOpen"
    [breakpoints]="[0, 0.5, 0.75, 1.0]"
    [initialBreakpoint]="0.5"
    [backdropDismiss]="false"
    [backdropBreakpoint]="0.75"
    (ionModalDidDismiss)="onIonModalDidDismiss($event)"
    (ionBreakpointDidChange)="onIonBreakpointDidChange($event)">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ selectedFacility.properties.name }}</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block">Default</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block">Default</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <div id="map" style="width: 100%; height: 100%"></div>
</ion-content>
