<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ facility?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ facility?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aktuální obsazenost</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="vacant">{{ facility?.latest_occupancy_record.spaces_public_vacant }}<br/>volno</ion-col>
          <ion-col class="occupied">{{ facility?.latest_occupancy_record.spaces_public_occupied }}<br/>obsazeno</ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-end">
          Aktualizováno {{ facility?.latest_occupancy_record.created_at | dateAgo }}
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block">
          <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
          Navigovat</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">
          <ion-icon name="browsers-outline" slot="start"></ion-icon>
          Přejít na web</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Průměrná obsazenost</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div id="divChart">
        <canvas id="myChart"></canvas>
      </div>
      <ion-select
        label-placement="floating"
        fill="outline"
        [value]="selectedDayOfWeek.toString()"
        (ionChange)="dayOfWeekSelectionChanged($event)">
        <ion-select-option value="1">Pondělí</ion-select-option>
        <ion-select-option value="2">Úterý</ion-select-option>
        <ion-select-option value="3">Středa</ion-select-option>
        <ion-select-option value="4">Čtvrtek</ion-select-option>
        <ion-select-option value="5">Pátek</ion-select-option>
        <ion-select-option value="6">Sobota</ion-select-option>
        <ion-select-option value="0">Neděle</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>
</ion-content>